APP_CRYPT_SALT=eEAfR|_&G&f,+vU]:jFr!!A&+71w1Ms9~8_4L!<@[N@DyaIP_2My|:+.u>/6m,$D
APP_BASE_URI=/
APP_PUBLIC_URL=localhost:8000

REACT_BUNDLE=localhost:3000/js/bundle.js
#for deployment use file name distribution
#REACT_BUNDLE=js/bundle.js

# Supported adapters are:
#   - mysql
DB_ADAPTER=mysql
DB_HOST=193.168.194.52
DB_PORT=3306
DB_USERNAME=u6621605_raha
DB_PASSWORD=Brt8A[fsaqpP
DB_NAME=u6621605_pateron

MAIL_FROM_NAME="Pateron Academy"
MAIL_FROM_EMAIL=noreply@pateronacademy.com
MAIL_SMTP_SERVER=smtp.mailtrap.io
MAIL_SMTP_PORT=587
MAIL_SMTP_SECURITY=tls
MAIL_SMTP_USERNAME=58b98eccadf88f
MAIL_SMTP_PASSWORD=f109a35b95a18d

#isi dengan 'true' untuk mengaktifkan perlindungan token
CSRF_SECURE=false
